# Générateur de questions

Dans le cadre de mon mémoire, je dois réaliser préalablement un dataset de questions par rapport au schéma créer pour la première entrevue du mois de novembre.

In [1]:
import pandas as pd
import re
import copy
import numpy as np
import time
import psycopg2
import random

In [2]:
dataset = []
conn = psycopg2.connect(database="lisp_db",
                        host="localhost",
                        user="postgres",
                        password="root",
                        port="5432")
cursor = conn.cursor()

In [3]:
#all info of country
question = "what is all the country information for "
query = "SELECT name FROM country;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([question + row[0], "SELECT * FROM country where name="+row[0], None])
print(len(dataset))

177

In [4]:
#all info of continent
question = "what is all the continent information for "
query = "SELECT name FROM continent;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([question + row[0], "SELECT * FROM continent where name="+row[0], None])
print(len(dataset))

183

In [5]:
#all info of river
question = "what is all the river information for "
query = "SELECT name FROM river;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([question + row[0], "SELECT * FROM river where name="+row[0], None])
print(len(dataset))

188

In [6]:
#all info of road
question = "what is all the road information for "
query = "SELECT name FROM road;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([question + row[0], "SELECT * FROM road where name="+row[0], None])
print(len(dataset))

193

In [7]:
#all info of city
question = "what is all the city information for "
query = "SELECT name FROM city;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([question + row[0], "SELECT * FROM city where name="+row[0], None])
print(len(dataset))

198

In [8]:
# all info from country which continent X
question = "what is all the information from the countries belonging to the continent "
query = "SELECT name from continent;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([
        question + row[0], 
        "SELECT country.* FROM country INNER JOIN continent on continent.id = country.continentId WHERE continent.name="+row[0],
        None])
print(len(dataset))

204

In [9]:
# all info from city which contry X
question = "what are all the information of the cities belonging to the country "
query = "SELECT name from country;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([
        question + row[0], 
        "SELECT city.* FROM city INNER JOIN country on country.id = city.countryId WHERE country.name="+row[0],
        None])
print(len(dataset))

381

In [10]:
# all info from road belonging to country
question = "what are all the information of the roads belonging to the country "
query = "SELECT name from country;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([
        question + row[0], 
        "SELECT road.* FROM road INNER JOIN country on country.id = road.countryId WHERE country.name="+row[0],
        None])
print(len(dataset))

558

In [11]:
# all info from river belonging to city
question = "what are all the information of the rivers belonging to the city "
query = "SELECT name from city;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([
        question + row[0], 
        "SELECT river.* FROM river INNER JOIN country_river  on river.id = country_river.riverId INNER JOIN country on country.id = country_river.countryId WHERE country.name="+row[0],
        None])
print(len(dataset))

563

In [12]:
# all info from continent with a country X
question = "what is all the information of a continent with the country "
query = "SELECT name from country;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([
        question + row[0], 
        "SELECT continent.* FROM continent INNER JOIN country on continent.id = country.continentId WHERE country.name="+row[0],
        None])
print(len(dataset))

740

In [13]:
# the population of continent X
question = "what is the population of the continent "
query = "SELECT name from continent;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    cursor.execute("SELECT population FROM continent WHERE name=\'"+row[0]+"\'")
    result = cursor.fetchone()
    dataset.append([question+row[0], "SELECT population FROM continent WHERE name=\""+row[0]+"\"", int(result[0])])
print(len(dataset))

746

In [14]:
# the population of country X
question = "what is the population of the country "
query = "SELECT name from country;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    cursor.execute("SELECT population FROM country WHERE name=\'"+row[0]+"\'")
    result = cursor.fetchone()
    dataset.append([question+row[0], "SELECT population FROM country WHERE name=\""+row[0]+"\"", int(result[0])])
print(len(dataset))

923

In [15]:
dataset.to_csv(r'.\questions.csv', index=False)

AttributeError: 'list' object has no attribute 'to_csv'