# Générateur de questions

Dans le cadre de mon mémoire, je dois réaliser préalablement un dataset de questions par rapport au schéma créer pour la première entrevue du mois de novembre.

In [25]:
import pandas as pd
import re
import copy
import numpy as np
import time
import psycopg2
import random

In [26]:
dataset = []
conn = psycopg2.connect(database="lisp_db",
                        host="localhost",
                        user="postgres",
                        password="root",
                        port="5432")
cursor = conn.cursor()

## Simple questions All informations

In [22]:
#all info of country
question = "what is all the country information for "
query = "SELECT name FROM country;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([question + row[0], "SELECT * FROM country where name= \'"+row[0] + "\'"])
print(len(dataset))

177

In [23]:
#all info of continent
question = "what is all the continent information for "
query = "SELECT name FROM continent;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([question + row[0], "SELECT * FROM continent where name=\'"+row[0] + "\'"])
print(len(dataset))

183

In [24]:
#all info of river
question = "what is all the river information for "
query = "SELECT name FROM river;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([question + row[0], "SELECT * FROM river where name= \'"+row[0] + "\'"])
print(len(dataset))

188

In [6]:
#all info of road
question = "what is all the road information for "
query = "SELECT name FROM road;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([question + row[0], "SELECT * FROM road where name= \'"+row[0] + "\'"])
print(len(dataset))

193

In [8]:
#all info of city
question = "what is all the city information for "
query = "SELECT name FROM city;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([question + row[0], "SELECT * FROM city where name=\'"+row[0] + "\'"])
print(len(dataset))

198

## Table Continent

In [27]:
# the name of continents
question = "what are the names of the continents ?"
dataset.append([question, "SELECT name FROM continent"])
print(len(dataset))

1

In [28]:
# the population of continent X
question = "what is the population of the continent "
query = "SELECT name from continent;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([question+row[0], "SELECT population FROM continent WHERE name=\'"+row[0]+"\'"])
print(len(dataset))

7

In [29]:
# the size of continent X
question = "what is the size of the continent "
query = "SELECT name from continent;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([question+row[0], "SELECT size FROM continent WHERE name=\'"+row[0]+"\'"])
print(len(dataset))

13

In [30]:
# the density of continent X
question = "what is the density of the continent "
query = "SELECT name from continent;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([question+row[0], "SELECT density FROM continent WHERE name=\'"+row[0]+"\'"])
print(len(dataset))

19

## Table Country

In [31]:
# the name of countries
question = "what are the names of the countries ?"
dataset.append([question, "SELECT name FROM country"])
print(len(dataset))

20

In [32]:
# the population of country X
question = "what is the population of the country "
query = "SELECT name from country;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    cursor.execute("SELECT population FROM country WHERE name=\'"+row[0]+"\'")
    result = cursor.fetchone()
    dataset.append([question+row[0], "SELECT population FROM country WHERE name=\'"+row[0]+"\'"])
print(len(dataset))

197

In [33]:
# the size of country X
question = "what is the size of the country "
query = "SELECT name from country;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    cursor.execute("SELECT size FROM country WHERE name=\'"+row[0]+"\'")
    result = cursor.fetchone()
    dataset.append([question+row[0], "SELECT size FROM country WHERE name=\'"+row[0]+"\'"])
print(len(dataset))

374

In [34]:
# the density of country X
question = "what is the density of the country "
query = "SELECT name from country;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    cursor.execute("SELECT density FROM country WHERE name=\'"+row[0]+"\'")
    result = cursor.fetchone()
    dataset.append([question+row[0], "SELECT density FROM country WHERE name=\'"+row[0]+"\'"])
print(len(dataset))

551

## Table City

In [35]:
# the name of cities
question = "what are the names of the cities ?"
dataset.append([question, "SELECT name FROM city"])
print(len(dataset))

552

In [36]:
# the population of city X
question = "what is the population of the city "
query = "SELECT name from city;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    cursor.execute("SELECT population FROM city WHERE name=\'"+row[0]+"\'")
    result = cursor.fetchone()
    dataset.append([question+row[0], "SELECT population FROM city WHERE name=\'"+row[0]+"\'"])
print(len(dataset))

557

In [37]:
# the size of city X
question = "what is the size of the city "
query = "SELECT name from city;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    cursor.execute("SELECT size FROM city WHERE name=\'"+row[0]+"\'")
    result = cursor.fetchone()
    dataset.append([question+row[0], "SELECT size FROM city WHERE name=\'"+row[0]+"\'"])
print(len(dataset))

562

## Table Road

In [38]:
# the name of roads
question = "what are the names of the roads ?"
dataset.append([question, "SELECT name FROM road"])
print(len(dataset))

563

In [39]:
# the size of road X
question = "what is the size of the road "
query = "SELECT name from road;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    cursor.execute("SELECT size FROM road WHERE name=\'"+row[0]+"\'")
    result = cursor.fetchone()
    dataset.append([question+row[0], "SELECT size FROM road WHERE name=\'"+row[0]+"\'"])
print(len(dataset))

568

In [40]:
# the speed average of road X
question = "what is the speed average of the road "
query = "SELECT name from road;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    cursor.execute("SELECT speedaverage FROM road WHERE name=\'"+row[0]+"\'")
    result = cursor.fetchone()
    dataset.append([question+row[0], "SELECT speedaverage FROM road WHERE name=\'"+row[0]+"\'"])
print(len(dataset))

573

## Table River

In [42]:
# the name of rivers
question = "what are the names of the rivers ?"
dataset.append([question, "SELECT name FROM river"])
print(len(dataset))

574

In [43]:
# the size of river X
question = "what is the size of the river "
query = "SELECT name from river;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    cursor.execute("SELECT size FROM river WHERE name=\'"+row[0]+"\'")
    result = cursor.fetchone()
    dataset.append([question+row[0], "SELECT size FROM river WHERE name=\'"+row[0]+"\'"])
print(len(dataset))

579

In [44]:
# the flow of river X
question = "what is the flow of the river "
query = "SELECT name from river;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    cursor.execute("SELECT flow FROM river WHERE name=\'"+row[0]+"\'")
    result = cursor.fetchone()
    dataset.append([question+row[0], "SELECT flow FROM river WHERE name=\'"+row[0]+"\'"])
print(len(dataset))

584

# Write to CSV

In [45]:
d = np.array(dataset)
df = pd.DataFrame(d, columns = ['question', 'query'])
df.to_csv('questions.csv', encoding='utf-8', index=False, header=False)

## Complex Questions

In [ ]:
# all info from continent with a country X
question = "what is all the information of a continent with the country "
query = "SELECT name from country;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([
        question + row[0], 
        "SELECT continent.* FROM continent INNER JOIN country on continent.id = country.continentId WHERE country.name=\'"+row[0]+"\'"])
print(len(dataset))

In [ ]:
# all info from river belonging to city
question = "what are all the information of the rivers belonging to the city "
query = "SELECT name from city;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([
        question + row[0], 
        "SELECT river.* FROM river INNER JOIN country_river  on river.id = country_river.riverId INNER JOIN country on country.id = country_river.countryId WHERE country.name= \'"+row[0] + "\'"])
print(len(dataset))

In [ ]:
# all info from road belonging to country
question = "what are all the information of the roads belonging to the country "
query = "SELECT name from country;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([
        question + row[0], 
        "SELECT road.* FROM road INNER JOIN country on country.id = road.countryId WHERE country.name=\'"+row[0] + "\'"])
print(len(dataset))

In [ ]:
# all info from country which continent X
question = "what is all the information from the countries belonging to the continent "
query = "SELECT name from continent;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([
        question + row[0], 
        "SELECT country.* FROM country INNER JOIN continent on continent.id = country.continentId WHERE continent.name= \'"+row[0] + "\'"])
print(len(dataset))

In [ ]:
# all info from city which contry X
question = "what are all the information of the cities belonging to the country "
query = "SELECT name from country;"
cursor.execute(query)
datas = cursor.fetchall()
for row in datas:
    dataset.append([
        question + row[0], 
        "SELECT city.* FROM city INNER JOIN country on country.id = city.countryId WHERE country.name= \'"+row[0] + "\'"])
print(len(dataset))